@{
    ViewData["Title"] = "Dashboard - Analytics";
}
@{
    var kullaniciAdi = Context.Session.GetString("KullaniciAdi");

}
@section VendorStyles {
    <link rel="stylesheet" href="~/vendor/libs/apex-charts/apex-charts.css" />
}
@section VendorScripts {
    <script src="~/vendor/libs/apex-charts/apexcharts.js"></script>
}
@section PageScripts {
    <script src="~/js/dashboards-analytics.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
}
@{
    Dictionary<int, int> urunStok = ViewBag.UrunStoklari;
}

@model IEnumerable<SiparisViewModel>
<div class="row">
    <div class="col-md-10 order-2 mb-4">
        <div class="card h-100">
            <div class="card-header d-flex align-items-center justify-content-between">
                <h5 class="card-title m-0 me-2">Siparişler</h5>
            </div>
            @if(Model.Count() == 0)
            {
                <li class="d-flex mb-4 pb-1">
                    <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                        <div class="me-2">
                            <h6 class="mb-0">Aktif siparişiniz bulunmamaktadır.</h6>
                        </div>
                    </div>
                </li>
            }
            else
            {
                @foreach (var siparis in Model)
                {
                    <div class="card-body border-bottom">
                        <ul class="p-0 m-0">
                            @foreach (var item in siparis.SiparisItems)
                            {
                                <li class="d-flex mb-4 pb-1">
                                    <div class="avatar flex-shrink-0 me-3">
                                        <img src="~/img/UrunFotolari/@item.Forograf" alt="User" class="rounded">
                                    </div>
                                    <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                        <div class="me-2">
                                            <small class="text-muted d-block mb-1">@item.UrunAdi</small>
                                            <h6 class="mb-0">@item.BirimFiyat <span class="text-muted">₺</span> X @item.Adet satın alındı.</h6>
                                        </div>
                                        <div class="user-progress d-flex align-items-center gap-1">
                                            <h6 class="mb-0">@item.ToplamFiyat</h6> <span class="text-muted">₺</span>
                                        </div>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                    <div class="card-body border-bottom">
                        <div class="row">
                            <h6 class="col-lg-5">Ödenen Miktar: @siparis.SiparisTutarı ₺</h6>
                            <button onclick="siparisiIptalEt(@siparis.SiparisId)" class="btn btn-primary me-2 col-lg-2">Siparişi İptal Et</button>
                        </div>
                    </div>
                    <div class="card-body m-0 bg-info"></div>
                }
                
            }
            
        </div>
    </div>
</div>


<script>  
    function siparisiIptalEt(siparisId) {
        $.ajax({
            type: "POST",
            url: "/Siparis/SiparisiIptalEt",
            data: { siparisId: siparisId},
            success: function (response) {
                window.location.reload()
            },
            error: function (error) {
                console.log("Error updating quantity:", error);
            }
        });
    } 
</script>

